/* ==================
  Base Element Styles
  =================== */
  
  /* ---- Colors used:
  #F5F5F5 - light grey for banner


  ---- */
  

*,
.form-info * {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #2d2a2d;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
}
h1 {
  text-align: center;
}
h1,
h2,
h3 {
	margin-top: 0;
}

/* ==================
  Base layout Styles
  =================== */


  /* ---- Navigation ---- */

  .name {
    font-size: 1.35em;
    margin: 0;
  }

  .main-nav {
    margin-top: 5px;
  }

  .name,
  .main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
  }

  .main-nav a {
    font-size: .95em;
    color: #5e5b5e;
    text-transform: uppercase;
  }

  .main-nav a:hover {
    background-color: rgba(245, 245, 245, 1);
  }

  /* ---- banner-section ---- */
 
  .banner,
  .main-footer {
    text-align: center;
  }

  .banner {
    color: #2d2a2d;
    padding-top:1.75em;
    padding-bottom:0;
  }
 
.banner h1 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

.banner-div {
  background-color:#F5F5F5;
  padding-top: 15px;
}

  /* ---- about-section ---- */
  .col {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
  }

  .col h1,
  .col h2,
  .col ul,
  .col p {
    text-align: center;
  }
.col h1,
.col h2 {
  margin:auto;
}
.col h1 {
  font-size: 2em;
}
.col h2 {
  font-size: 1em;
}
 .about-head {
   display: flex;
   flex-wrap: wrap;
   background: #F5F5F5;
   margin-bottom:0;
 }

 .me-img {
  width: 190px;
  border-radius: 100px;
  margin: auto;
  padding-bottom: 2.75em;
  padding-top: 1em;
 } 

.skills-head {
  background-image: url("../img/bg-par.jpg"); 
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  widows: 100%; 
  padding-right:0;
  padding-left: 0;
  margin-bottom: 0;
  border-top: 3px solid #2d2a2d;
  border-bottom: 3px solid #2d2a2d;
}
.skills-head h1 {
  background: rgba(230, 230, 230, 0.5);
  color:black;
  
}
.skills-head h2 {
  background: rgba(0, 0, 0, 0.25);
  color: #2d2a2d;
}
.skills-head li {
  text-shadow: 1px 1px #fff;
  font-weight: 600;
  background: rgba(230, 230, 230, 0.5);
  font-size: .85em;
  color:black;
  padding: 3px 3px;;
}


 /* ---- portfolio-section ---- */
.portfolio-main h1 {
  padding-top: .5em;
  font-size: 2em;
}
.button {
	color: #fff;
	text-align: center;
	padding: .525em 1em;
	background: #5e5b5e;
  border-radius: .35em; 
  transition-property: background, border-radius, color;  
  transition-duration: .4s; 
}
.button:hover {
  color:#fff;
  background: #2d2a2d;
  border-radius: .75em;
  
}
.button:active {
  background: #5e5b5e;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
.project-img,
.button {
  margin: auto;
}

.portfolio-main {
  background-color: #f4f4f4;
}


 /* ---- scroll-top button ---- */


.sf-back-to-top {
  background: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #f4f4f4;
  background-color: #2d2a2d;
  text-align: center;
  padding-top: 5px;
  border-radius: 20%;
  transition-duration: .4s;
}

.sf-back-to-top i {
  font-size: 30px;
}

.sf-back-to-top:hover {
  background-color:rgba(0, 0, 0, 0.05);
  border: 1.5px outset #2d2a2d;
  box-shadow: inset -75px -75px 400px #fff;

}
.fa-img:hover {
  color: #2d2a2d;
}

.fa-arrow-up:before {
  content: "\f062";
  padding: 5px;
}


/* ---- form-section ---- */

.form-info {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background:#cecece;
  color:#2d2a2d;
}
.flex-outer {
  list-style-type: none;
  padding: 0;
}
.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}


.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
  margin:auto;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  padding: 8px 16px;
  border: none;
  background: #2d2a2d;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  margin-bottom: 20px;
}

.flex-inner li {
  width: 100px;
}

.form-info input {
  width: 11.250 em;
  height: 1.875 em;
}

.form-info textarea {
  width: 215px;
  height: 100px;
} 

.form-info {
  border: 1.5px outset #2d2a2d;
}

/* ---- footer-section ---- */

.main-footer{
  background: #f4f4f4;
  padding: 10px;
  margin-top: 25px;
}

.footer-head p {
  margin:0;
  padding: 10px;
  border-top: 1.5px outset #2d2a2d;
}
.social-flex {
  display:flex;
  margin: 15px;
}

.social-flex li {
  -moz-box-shadow:    inset 0 0 10px #5e5b5e;
  -webkit-box-shadow: inset 0 0 10px #5e5b5e;
  box-shadow:         inset 0 0 10px #5e5b5e; 
  border-radius: .75em;
  flex-grow:1;
  background: #5e5b5e;
  border: 1px solid #2d2a2d;
  display:flex;
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.social-flex a {
  display:inline-block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1em;
}
.social-flex li:hover {
  color:#fff;
  background: #2d2a2d;
  border-radius: .75em;
}
.social-flex li:active {
  background: #5e5b5e;
}

.social-flex p {
  display:flex;
  justify-content: center;
  padding:10px 10px 1px 10px;
  margin:0;
}

.i-img {
  font-size: 20px;
  margin: 1px 2px;
}
.s-img {
 margin-right: 2px;
 margin-bottom: 5px;
 height: 25px;
}